# Go
coverage.out
src/lambda/*/handler.zip
src/lambda/*/main
src/lib/mock

# Typescript
*.js
!jest.config.js
*.d.ts
node_modules
coverage

# CDK asset staging directory
.cdk.staging
cdk.out

# eslint
.eslintcache
