# Go
coverage.out
lambda/*/handler.zip
lambda/*/main
mock/
bin/

# Typescript
*.js
!jest.config.js
*.d.ts
node_modules
coverage

# CDK asset staging directory
.cdk.staging
cdk.out

# eslint
.eslintcache
